.main-head {
    margin-top: 3%;
}
.main-logo-border {
    width: 260px;
    height: 45px;
    border: 3px solid #696969;
    text-align: center;
    line-height: 39px;
}
.main-logo-border p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #696969;
}
.color-logo {
    color: #f15f35;
}
.main-nav-bar {
    width: 35px;
}
.line {
    border-radius: 5px;
    display: inline-block;
    width: 38px;
    height: 4px;
    background-color: #696969;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform:translateY(-2px) ;
    -ms-transform:translateY(-2px) ;
    -o-transform:translateY(-2px) ;
    transform:translateY(-2px) ;
}
.line::before {
    position: absolute;
    right: 0;
    top; 50%
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
    content: '';
    width: 38px;
    height: 4px;
    background-color: #696969;
    -webkit-border-radius: 5px;
    -mos-border: radius: 5px; 
    -ms-border: radius: 5px; 
    -o-border: radius: 5px;
    border: radius: 5px;

}
.line::after