.main-head {
    margin-top: 3%;
}
.main-logo-border {
    width: 260px;
    height: 45px;
    border: 3px solid #696969;
    text-align: center;
    line-height: 39px;
}
.main-logo-border p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
}